/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

.player-wrapper {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #000;
    /* DEBUG */
}

.layer {
    height: calc(100% - 80px);
}

.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #222;
    /* z-index: 100; */
}

/* UTILITIES */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container-user {
    width: 90%;
    /* height: 300px; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    margin: 30px auto;
    padding-bottom: 90px;
}

.container-bottom {
    align-items: center;
    height: 90%;
    text-align: center;
    color: white;
}

/* IMAGE-USER */
.name-user {
    left: 0px;
    bottom: 15px;
    padding: 5px 5px;
    font-size: .9em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* TOOLBAR ICONS */
i {
    display: block;
}

.icons i {
    font-size: 1.7rem;
    position: relative;
}

.icons p {
    font-size: 0.9rem;
    margin-top: 5px;
}

.angle-arrow {
    font-size: 15px;
    transform: translateY(30%);
    margin-left: 10px;
    margin-right: 10px;

}

.option .icons {
    margin-right: 15px;
}

.option .angle-arrow {
    margin-right: 20px;
    margin-left: 5px;
}

.mic-webcam {
    margin-left: 10px;
}

.end-transmit {
    padding: 1.5em;
    background-color: #5555;
    color: red;
}

/* HOVER */

.icons i:hover {
    color: #4ac700;
    cursor: pointer;
}

.angle-arrow:hover {
    color: #4ac700;
    cursor: pointer;
}

.end-transmit:hover {
    background-color: black;
    cursor: pointer;
}

/* SASSONE d=====(￣▽￣*)b🗿 */